body{
  display: grid;
    margin: 0;
    padding: 0;
    background: white;
    margin: 0 auto;
    max-width: 40em;
    
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul, ol{
    margin: 0;
    padding: 0;
}


h1, p, h2{
    padding: 0;
    margin: 0;
  }

  .hidden{
    display: none;
  }


  .GridCenter{
    display: grid;
    justify-items: center;
  }

  .activateWebsite{
    display: grid;
    height: 100vh;
    padding: 30px;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.115);
    justify-items: center;
       
  }
  
  
  .sub-container{
    display: grid;
    row-gap: 3px;
    justify-content: center;
  }
  .sub-container>button{
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.323);
    background-color: #006cb4;

  }
  
  
  .sub-container>button>a{
    text-decoration: none;
    color: white;
  }
  
  .sub-container>img{
    height: 50%;
  }
  
  a{
    padding: 0;
    margin: 0;
    text-decoration: none;
  
  }


  .landingPage-container{
    display: grid;
    max-width: 25em;
  }

  .landingPage-container>header{
    display: grid;
    justify-items: center;
    row-gap: 20px;

  }

  .landingPage-container>header>img{
    height: 140px;
  }
  



  .landingPage-container>main{
    display: grid;
  }




  .landingPage-container>main>picture{
    grid-row: 1/3;
    grid-column: 1/2;
    height: 102%;

  }


  .landingPage-container>main>picture>img{
    height: 100%;
    width: 100%;
  }



  .landingPage-container>main>section{
    display: grid;
    row-gap: 50px;
    grid-row: 1/3;
    grid-column: 1/2;
    align-content: flex-start;
    justify-items: center;
    margin-top: 150px;
    margin-left: 50px;



  }

  .landingPage-container>main>section>p {
    font: 2.1em sans-serif;
    width: 230px;
    color: white;
    text-shadow: 0 0 27px rgba(0, 0, 0, 0.691);
  }




  .drinkItem-container{
    display: grid;
    justify-content: center;
  }

  

  .drinkItem-container>header{
    display: grid;
    background-color: #E08634;
    font: 1em sans-serif;
    color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 13px 13px 0 0 ;

  }

  .drinkItem-container>main{
    grid-row: 2/4;
    grid-column: 1/2;

  }

  .drinkItem-container>main>img{
    width: 200px;

  }

 

  .drinkItem-footer{
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    row-gap: 5px;
    justify-items: center;
    align-content: center;
    margin-top: -120px;
  

  }




  .drinkItem-footer>p{
    font: 1em sans-serif;
    color: black;
  }


  .orderHalfGallon-Container{
    display: grid;
    row-gap: 30px;
    margin-left: 25px;
  }

  .orderHalfGallon-Container>p{
    font: 2.1em sans-serif;
    width: 230px;
    color: white;
    text-shadow: 0 0 27px rgba(0, 0, 0, 0.691);
  }




  .landingPage-container>footer{
    display: grid;
    row-gap: 20px;
    justify-content: center;
    padding: 40px;
    font: 1em sans-serif;
  }

  .landingPage-container>footer>section{
    display: grid;
    justify-items: center;
    align-items: center;
  }



  .landingPage-container>footer>section>picture{
    grid-column: 1/2;
    grid-row: 1/2;

  }

  .landingPage-container>footer>section>a{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
  }

  .landingPage-container>footer>aside{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .landingPage-container>footer>aside>a{
    display: flex;
    column-gap: 30px;
    align-items: center;
  }




  .MainBTN{
    font: 1em sans-serif;
    background-color: #E08634;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    border: solid 1px white;
    box-shadow: 0 0 5px #E08634;  
    cursor: pointer;

  }




  @media screen and (min-width: 700px) {
    body{
      background-color: white;
      max-width: none;
    }

  .landingPage-container{
    max-width: 100vw;
  }

  .landingPage-container>main>section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
    
  }

  @media screen and (min-width: 1200px) {
    body{
      background-color: white;
      max-width: 60em;
    }
    .landingPage-container>main>picture>img{
      height: 105%;
    }
    
  }


